
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/camera_stream_db


MEDIAMTX_HOST=localhost

MEDIAMTX_API_URL=http://mediamtx:9997


MEDIAMTX_RTSP_PORT=8554
MEDIAMTX_WEBRTC_PORT=8889
MEDIAMTX_HLS_PORT=8888
MEDIAMTX_API_PORT=9997


RECORDINGS_DIR=recordings
LOG_LEVEL=INFO
